<!DOCTYPE html>
<html>
  <head>
    <title>Vend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a><%= link_to "Create New Owner", new_owner_path %></a>
    <a><%= link_to "Create New Machine", new_machine_path %></a>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
